    <!-- footer -->
    <footer class="footer">
        <small class="copyRight">Copyright &#169; <%= copyRightYear %>-0<strong>4</strong>-0<strong>9</strong>T0<strong>5</strong>:00:00+09:00 <%= variables.commons.author %> All Right Reserved.</small>
        <small class="powered">Powered by <a href="https://sairoutine.github.io/Frandre/">Frandre</a>, <a href="https://ja.wordpress.org/">WordPress 4.9.5</a>, and <a href="https://jp.vuejs.org/index.html">Vue.js</a></small>
    </footer>
    <!-- /footer -->