@charset "utf-8";

.footer {
	clear: both;
	padding: 0.5rem 1rem 1rem;
	background-color: $main-color;
	color: $bg-color;
    .copyRight, .powered {
        display: block;
        margin: 0 auto;
        font-size: 13px;
        text-align: center;
    }
    .powered {
        a {
            &:before {
                font-family: "FontAwesome";
                margin-right: 0.1rem;
            }
            &[href="https://sairoutine.github.io/Frandre/"] {
                &:before {
                    content: "\f13c";
                }
            }
            &[href="https://ja.wordpress.org/"] {
                &:before {
                    content: "\f19a";
                }
            }
        }
    }
}