<!-- loading -->
<div id="loading">
	<div id="loadContent">
        <div id="handsWrapper">
            <img id="long" src="./img/rpt_lvateinn.png" alt="now loading 1">
            <img id="short" src="./img/rpt_lvateinn.png" alt="now loading 2">
        </div>
        <img id="clock" src="./img/clock.png" alt="now loading 3">
		<progress class="text-hide">now loading...</progress>
		<p id="loadPercentage" class="text-hide"></p>
<!--		<p id="loadPercentage"></p>-->
	</div>
</div>
<!-- /loading -->